<div id="nawigacja">
  <h4>
    Aktualna strona to <span id="aktualna-strona"></span> na
    <span id="ilosc-stron"></span>
  </h4>
  <button id="prev">Poprzednia</button>
  <button id="next">Następna</button>
  <input type="text" id="filter" placeholder="Wpisz imię" />
  <select id="status">
    <option value="alive">alive</option>
    <option value="dead">dead</option>
    <option value="unknow">unknow</option>
    <option selected="selected" value="">all</option>
  </select>
  <button id="clear">Wyczyść filtry</button>
</div>
