body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.header {
  width: 100%;
  height: 20px;
  background-color: burlywood;
}
.footer {
  width: 100%;
  height: 30px;
  background-color: burlywood;
}
.content {
  min-width: 70%;
  height: calc(100vh - 50px);
  background-color: brown;
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.box {
  height: 41%;
  width: 30%;
  background-color: burlywood;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.top {
  height: 23%;
  width: 88%;
  background-color: brown;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.down {
  height: 50%;
  width: 88%;
  background-color: brown;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
